kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
# 1 control plane node and 1 worker node:
nodes:
- role: control-plane
  extraPortMappings:
   - containerPort: 5000
     hostPort: 5000
     protocol: TCP
   - containerPort: 443
     hostPort: 8443
     protocol: TCP
- role: worker